{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .main-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .home-content {
        text-align: center;
    }
</style>

<div class="main-wrap">
    <div class="home-content">
        <h1>Welcome to the Job Platform!</h1>
        <a class="button" href="{{ url_for('vacancies') }}">View Vacancies</a>
    </div>
</div>
{% endblock %}
